body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('images/main-background.jpg');
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/surf-boards.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("images/photographer.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}

.typewrite {
  text-align: left;
  min-width: 25ch;
}

h2 {
    width: 50%;
    left: 26%;
    position: relative;
    text-decoration: none;
}

h2 a{
    text-decoration: none;
}

.wrap {
    border-right: 0.08em solid #fff;
    white-space: nowrap;
    text-decoration: none;
    color: #fff ;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 500px;
  }
}