---
---

@import "{{ site.theme }}";

header {
    h1{
        text-align: center;
        color: red;
    }

    img{
        border-radius: 50%;
    }
    
    p{
        text-align: center;
        margin: 10px;
    }
}

.main-content {
    h1 {
        color: #ff0000;
    }
}

footer {
    p{
        display: none;
    }
}