---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body{
    font: Comfortaa, --apple-system, sans-serif;

    header {
        h1{
            text-align: center;
        }

        h1 a, a:hover{
            color: #ef4037;
        }

        img{
            border-radius: 50%;
        }
        
        p{
            text-align: center;
            margin: 20px;
            font-weight: 600;
        }

        .social{
            text-align: center;
        }

        .social-icons{
            display: flex;
            justify-content: center;

            img{
                width: 50%;
                border-radius: 0;
                left: 50%;
                transform: translateX(-50%);
                position: relative;
            }
        }
    }

    h1{
        color: #ef4037;
    }

    h4{
        color: #757575;
    }

    blockquote{
        border-left: 1px solid #ef4037;
    }

    td{
        text-align: center;
        border-bottom: none;
        padding: 0;
        width: 51%;
        padding: 2%;
        transition: transform .5s; 

        img{
            border-radius: 10px;
        }
    }

    td:hover{
        transform: scale(1.1);
    }
    
    .view{
        display: none;
    }

    footer {
        p { 
            display: none;
        }
    }
}